**/*.Rhistory
previous_results/
.ipynb_checkpoints/
__pycache__/
biblio/
boson_metadata/
boson_notes/
boson_vcf/
boson_vcfs_by_chromosome/
facs/
boson_genotyped/
boson_original_files/
boson_plink/
graphs/
data/
**/*.DS_Store
scripts/.DS_Store
scripts/.Rhistory
